<div class="row">
  <!-- Column -->
  <div class="col-lg-3 col-md-6">
      <div class="card">
          <div class="card-body">
              <div class="row p-t-10 p-b-10">
                  <!-- Column -->
                  <div class="col p-r-0">
                      <h1 class="font-light">{{ counter }}</h1>
                      <h6 class="text-muted">New Clients</h6></div>
                  <!-- Column -->
                  <div class="col text-right align-self-center">
                      <div data-label="1100%" class="css-bar m-b-0 css-bar-primary" [class]="getPercent()"><i class="mdi mdi-account-circle"></i></div>
                  </div>
              </div>
          </div>
      </div>
  </div>
  <!-- Column -->
  <!-- Column -->
  <div class="col-lg-3 col-md-6">
      <div class="card">
          <div class="card-body">
              <div class="row p-t-10 p-b-10">
                  <!-- Column -->
                  <div class="col p-r-0">
                      <h1 class="font-light">{{ counter }}</h1>
                      <h6 class="text-muted">All Projects</h6></div>
                  <!-- Column -->
                  <div class="col text-right align-self-center">
                      <div data-label="100%" class="css-bar m-b-0 css-bar-danger" [class]="getPercent()"><i class="mdi mdi-briefcase-check"></i></div>
                  </div>
              </div>
          </div>
      </div>
  </div>
  <!-- Column -->
  <!-- Column -->
  <div class="col-lg-3 col-md-6">
      <div class="card">
          <div class="card-body">
              <div class="row p-t-10 p-b-10">
                  <!-- Column -->
                  <div class="col p-r-0">
                      <h1 class="font-light">{{ counter }}</h1>
                      <h6 class="text-muted">New Items</h6></div>
                  <!-- Column -->
                  <div class="col text-right align-self-center">
                      <div data-label="100%" class="css-bar m-b-0 css-bar-warning" [class]="getPercent()"><i class="mdi mdi-star-circle"></i></div>
                  </div>
              </div>
          </div>
      </div>
  </div>
  <!-- Column -->
  <!-- Column -->
  <div class="col-lg-3 col-md-6">
      <div class="card">
          <div class="card-body">
              <div class="row p-t-10 p-b-10">
                  <!-- Column -->
                  <div class="col p-r-0">
                      <h1 class="font-light">{{ counter }}</h1>
                      <h6 class="text-muted">Invoices</h6></div>
                  <!-- Column -->
                  <div class="col text-right align-self-center">
                      <div data-label="100%" class="css-bar m-b-0 css-bar-info" [class]="getPercent()"><i class="mdi mdi-receipt"></i></div>
                  </div>
              </div>
          </div>
      </div>
  </div>
  <!-- Column -->
</div>
