<div class="row">
  <!-- Column -->
  <div class="col-lg-4 col-xlg-3 col-md-5">
      <div class="card">
          <div *ngIf="medicoSeleccionado" class="card-body">
              <div class="m-t-30 text-center">
                <img
                  [src]="medicoSeleccionado.img | imagen : medicosColeccion"
                  class="img-circle"
                  width="150"
                />
                <h4 class="card-title m-t-10 text-center" >{{medicoSeleccionado.nombre}}</h4>
                <h6 class="card-subtitle text-center">Medico egresado de universidad</h6>

                <div class="row text-center justify-content-md-center">
                    <div class="col-4">
                      <a href="javascript:void(0)" class="link">
                        <i class="icon-people"></i>
                        <font class="font-medium">254</font>
                      </a>
                    </div>

                    <div class="col-4">
                      <a href="javascript:void(0)" class="link">
                        <i class="icon-picture"></i>
                        <font class="font-medium">54</font>
                      </a>
                    </div>
                </div>
              </div>
          </div>

          <div>
              <hr>
          </div>

          <div class="card-body">
            <small class="text-muted">Email</small>
            <h6>medico@medico.com</h6>

            <small class="text-muted p-t-30 db">Telefono</small>
            <h6>+91 654 784 547</h6>

            <small class="text-muted p-t-30 db">Hospital</small>
            <h6 *ngIf="hospitalSeleccionado">{{ hospitalSeleccionado.nombre }}</h6>
            <div class="map-box animated fadeIn fast">
              <img
                *ngIf="hospitalSeleccionado"
                [src]="hospitalSeleccionado.img | imagen : coleccionHospital"
                [alt]="hospitalSeleccionado.nombre"
                class="img-fluid"
              />
            </div>
          </div>
      </div>
  </div>

  <!-- Column -->
  <div class="col-lg-8 col-xlg-9 col-md-7">
      <div class="card">
          <!-- Nav tabs -->
          <ul class="nav nav-tabs profile-tab" role="tablist">
            <li class="nav-item">
              <a
                class="nav-link active"
                data-toggle="tab"
                role="tab"
              >
                {{ medicoSeleccionado ? 'Actualizar informacion' : 'Crear un nuevo medico' }}
              </a>
            </li>
          </ul>
          <!-- Tab panes -->
          <div class="tab-content">
              <div class="tab-pane active" id="settings" role="tabpanel">
                <div class="card-body">

                  <form class="form p-t-20" [formGroup]="medicoForm" (ngSubmit)="guardarMedico()">
                      <div class="form-group">
                          <label for="exampleInputuname">Nombre</label>
                          <div class="input-group">
                              <div class="input-group-addon"><i class="ti-user"></i></div>
                              <input
                                type="text"
                                class="form-control"
                                id="exampleInputuname"
                                placeholder="Nombre de medico"
                                formControlName="nombre"
                              >
                          </div>
                      </div>
                      <div class="form-group">
                          <label for="exampleInputEmail1">Hospitales</label>
                          <div class="input-group">
                            <select class="form-control" formControlName="hospital">
                              <option value="">Seleccione un hospital</option>
                              <option *ngFor="let hospital of hospitales" [value]="hospital._id">{{ hospital.nombre }}</option>
                            </select>
                          </div>
                      </div>

                      <button type="submit"
                              class="btn btn-success waves-effect waves-light m-r-10"
                              [disabled]="medicoForm.invalid"
                      >
                        <i class="fa fa-check"></i>
                        {{ medicoSeleccionado ? 'Actualizar' : 'Crear' }}
                      </button>
                  </form>
              </div>
              </div>
          </div>
      </div>

      <!-- <div class="card">

        <ul class="nav nav-tabs profile-tab" role="tablist">
          <li class="nav-item"> <a class="nav-link active" data-toggle="tab" href="#settings" role="tab">Editar foto de perfil</a> </li>
        </ul>

        <div class="tab-content">
            <div class="tab-pane active" id="settings" role="tabpanel">
              <div class="card-body">

                <div class="text-center">
                  <img [src]="imagenTemporal" class="img-circle" width="150" />
                </div>

                ! el evento change se dispara cuando se selecciona un archivo en el input y tomamos el primer archivo que se selecciono
                <input type="file" (change)="cambiarImagen($event)">

                <br>

                <button
                  type="submit"
                  class="btn btn-success waves-effect waves-light m-r-10 m-t-20"
                  [disabled]="!imagenSubir"
                  (click)="actualizarImagen()"
                >
                  <i class="fa fa-check"></i> Actualizar foto de perfil
                </button>
            </div>
            </div>
        </div>
      </div> -->
  </div>
  <!-- Column -->
</div>
