
<div class="row animated fadeIn fast">
  <div class="col-12">
    <div class="card">
      <div class="card-body">
        <input
          #txtTermino
          type="text"
          class="form-control"
          placeholder="Buscar usuario..."
          (keyup)="buscar(txtTermino.value)"
        >
      </div>
    </div>
  </div>
</div>

<div class="row animated fadeIn fast" *ngIf="cargando">
  <div class="col-12">
    <div class="alert alert-info text-center">
      <h4 class="alert-heading">Cargando</h4>

      <i class="fa fa-spin fa-refresh fa-2x"></i>
      <p class="mb-0">Por favor espere</p>
    </div>
  </div>
</div>

<div class="row animated fadeIn fast" *ngIf="!cargando">
  <div class="col-12">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Usuarios</h4>
            <h6 class="card-subtitle">
              Total de usuarios registrados en el sistema
              ( <span class="label label-rouded label-themecolor"> {{ totalUsuarios }} </span> ) - desde {{ desde }}
            </h6>

            <div class="table-responsive">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th class="w100">Avatar</th>
                            <th>Correo</th>
                            <th>Nombre</th>
                            <th class="">Rol</th>
                            <th class="w100">Autenticación</th>
                            <th class="text-nowrap w100">Acciones</th>
                        </tr>
                    </thead>

                    <tbody>
                      <tr *ngFor="let usuario of usuarios">
                        <td class="text-center">
                          <img
                            [src]="usuario.imageUrl"
                            (click)="abrirModal(usuario)"
                            alt="user"
                            width="40"
                            class="img-circle cursor"
                          >
                        </td>

                        <td>{{ usuario.email }}</td>
                        <td>{{ usuario.nombre }}</td>
                        <td>
                          <select
                            class="select2 form-control custom-select"
                            style="width: 100%; height:36px;"
                            [(ngModel)]="usuario.rol"
                            (change)="cambiarRol(usuario)"
                          >
                            <option *ngFor="let rol of roles" [value]="rol.rol">{{ rol.rol }}</option>
                        </select>
                        </td>

                        <td class="text-center">
                          <span *ngIf="usuario.google" class="label label-rouded label-danger">Google</span>
                          <span *ngIf="!usuario.google" class="label label-rouded label-info">Email</span>
                        </td>

                        <td class="text-nowrap text-center">
                          <a
                            class="cursor"
                            data-toggle="tooltip"
                            data-original-title="Editar"
                          >
                            <i class="fa fa-pencil text-inverse m-r-10"></i>
                          </a>

                          <a
                            (click)="eliminarUsuario(usuario)"
                            class="cursor"
                            data-toggle="tooltip"
                            data-original-title="Borrar"
                          >
                            <i class="fa fa-trash-o text-danger"></i>
                          </a>
                        </td>
                      </tr>

                    </tbody>
                </table>
            </div>

            <div
              class="d-flex justify-content-around align-items-center"
              *ngIf="txtTermino.value.length === 0"
            >
              <button (click)="cambiarPagina(-5)" class="btn btn-secondary">Anteriores</button>
              <span>página {{ paginaActual }} de {{ totalPaginas }} &nbsp;</span>
              <button (click)="cambiarPagina(+5)" class="btn btn-secondary">Siguientes</button>
            </div>
        </div>
    </div>
  </div>
</div>
