<div id="main-wrapper">
  <shared-header />

  <shared-sidebar />

  <div class="page-wrapper">
    <div class="container-fluid">
      <!-- Breadcrumbs -->
      <shared-breadcrumbs />

      <!-- Mis rutas -->
      <router-outlet />

      <!-- <div class="row">
        <div class="col-12">
          <div class="card">
            <div class="card-body">

            </div>
          </div>
        </div>
      </div> -->
    </div>

    <shared-footer />
  </div>
</div>

<dashboard-modal-imagen />
